html
{
	margin: 0;
	height: 100%;
}
body
{
	background-size:cover;
	overflow-x:hidden;
	height: 100%;
}
.gambarslide
{
	width: 700px;
	height: 200px;
}
.navbar
{
	background-color: #ecf0f1;
}
.container
{
	margin-top: 100px;
}
.bannerregis
{
	padding: 20px;
	box-shadow: 8px 8px 5px #34495e;
	margin-bottom: 20px;
	font-size: 20px;
	text-align: center;
}
.banner
{
	background-color: #ecf0f1;
	border-radius: 100px;
}
.formregis
{
	padding: 20px;
	box-shadow: 8px 8px 5px #34495e;
}
.login-header
{
	margin-top: 0px;
	text-align: center;
	padding: 10px;
	letter-spacing: 2px;
}

/*Dashboard
=================================================================*/

.menudashboard #home
{	
	width: 100vh;
	background-color: black;
	/*margin: 0 10px;*/
	padding: 10px 0 0 10px;
	letter-spacing: 1px;
	text-transform: uppercase;
	display: inline-block;
	color: #f2f2f2;
}


.body_account .edit
{
	padding-top: 20px;	
}
